.About {
    z-index: 0;
    text-align: center;
    align-items:center;
    position: relative;
}

.title-text {
    padding-top: 30vh;
    font-size: 50px;
    padding-left: 15vw;
    padding-right: 15vw;
}